In [2]:
import pandas as pd
import numpy as np
from xgboost import XGBRegressor
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix

import torch
import torch.nn as nn
import torch.optim as optim
print("All Packages Imported")

All Packages Imported

In [3]:
df = pd.read_csv("wisconsin_breast_cancer.csv")
df

,id,thickness,size,shape,adhesion,single,nuclei,chromatin,nucleoli,mitosis,class
0,1000025,5,1,1,1,2,1.0,3,1,1,0
1,1002945,5,4,4,5,7,10.0,3,2,1,0
2,1015425,3,1,1,1,2,2.0,3,1,1,0
3,1016277,6,8,8,1,3,4.0,3,7,1,0
4,1017023,4,1,1,3,2,1.0,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2.0,1,1,1,0
695,841769,2,1,1,1,2,1.0,1,1,1,0
696,888820,5,10,10,3,7,3.0,8,10,2,1
697,897471,4,8,6,4,3,4.0,10,6,1,1
698,897471,4,8,8,5,4,5.0,10,4,1,1

In [4]:
df.isnull().sum()

id            0
thickness     0
size          0
shape         0
adhesion      0
single        0
nuclei       16
chromatin     0
nucleoli      0
mitosis       0
class         0
dtype: int64

In [5]:
df.columns = df.columns.str.replace("_", " ").str.title()

In [6]:
df.columns

Index(['Id', 'Thickness', 'Size', 'Shape', 'Adhesion', 'Single', 'Nuclei',
       'Chromatin', 'Nucleoli', 'Mitosis', 'Class'],
      dtype='object')

In [7]:
data = df.dropna()

In [8]:
data

,Id,Thickness,Size,Shape,Adhesion,Single,Nuclei,Chromatin,Nucleoli,Mitosis,Class
0,1000025,5,1,1,1,2,1.0,3,1,1,0
1,1002945,5,4,4,5,7,10.0,3,2,1,0
2,1015425,3,1,1,1,2,2.0,3,1,1,0
3,1016277,6,8,8,1,3,4.0,3,7,1,0
4,1017023,4,1,1,3,2,1.0,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2.0,1,1,1,0
695,841769,2,1,1,1,2,1.0,1,1,1,0
696,888820,5,10,10,3,7,3.0,8,10,2,1
697,897471,4,8,6,4,3,4.0,10,6,1,1
698,897471,4,8,8,5,4,5.0,10,4,1,1

In [9]:
X = data.drop(['Id','Class'], axis=1)
y = data['Class']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.3, random_state=42)

In [11]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)


X_train = torch.tensor(X_train, dtype=torch.float32)
X_test = torch.tensor(X_test, dtype=torch.float32)

In [12]:
y_train = torch.tensor(y_train.to_numpy(), dtype=torch.float32).view(-1, 1)
y_test = torch.tensor(y_test.to_numpy(), dtype=torch.float32).view(-1, 1)

In [13]:
X_test

tensor([[ 1.2428, -0.0881,  0.1860,  ..., -0.1780,  0.0864, -0.3492],
        [ 1.2428,  1.4887,  1.1349,  ...,  1.5113,  1.8143,  3.6086],
        [-1.1950, -0.7189, -0.7628,  ..., -0.1780, -0.6048, -0.3492],
        ...,
        [ 0.8945, -0.7189, -0.4465,  ..., -0.6004, -0.6048, -0.3492],
        [ 0.8945, -0.4035,  0.1860,  ...,  0.6666,  0.4320,  0.9701],
        [-1.1950, -0.7189, -0.7628,  ..., -0.1780, -0.6048, -0.3492]])

In [13]:
print(type(y_train))
print(type(y_test))

<class 'torch.Tensor'>
<class 'torch.Tensor'>

In [1]:
from sklearn.pipeline import Pipeline

In [14]:
model = RandomForestRegressor(max_depth=5, max_features=5, random_state=50)
model.fit(X_train, y_train)

predict = model.predict(X_test)

c:\Users\saran\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\base.py:1365: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [15]:
r2 = r2_score(y_test, predict)

print(r2)

0.8480162950076806

In [16]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix

import torch
import torch.nn as nn
import torch.optim as optim

In [17]:
X

,Thickness,Size,Shape,Adhesion,Single,Nuclei,Chromatin,Nucleoli,Mitosis
0,5,1,1,1,2,1.0,3,1,1
1,5,4,4,5,7,10.0,3,2,1
2,3,1,1,1,2,2.0,3,1,1
3,6,8,8,1,3,4.0,3,7,1
4,4,1,1,3,2,1.0,3,1,1
...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2.0,1,1,1
695,2,1,1,1,2,1.0,1,1,1
696,5,10,10,3,7,3.0,8,10,2
697,4,8,6,4,3,4.0,10,6,1
698,4,8,8,5,4,5.0,10,4,1

In [34]:
class BreastCancerNN(nn.Module):
    def __init__(self):
        super(BreastCancerNN, self).__init__()
        self.layer1 = nn.Linear(9, 64)
        self.layer2 = nn.Linear(64, 32)
        self.layer3 = nn.Linear(32, 1)
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        x = torch.relu(self.layer1(x))
        x = torch.relu(self.layer2(x))
        x = self.sigmoid(self.layer3(x))
        return x

model = BreastCancerNN()
criterion = nn.BCELoss() 
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [45]:
epochs = 200

for epoch in range(epochs):
    model.train()
    
    optimizer.zero_grad()
    outputs = model(X_train)
    
    loss = criterion(outputs, y_train)
    loss.backward()
    optimizer.step()
    
    if (epoch+1) % 50 == 0:
        print(f"Epoch [{epoch+1}/{epochs}], Loss: {loss.item():.2f}")

Epoch [50/200], Loss: 0.00
Epoch [100/200], Loss: 0.00
Epoch [150/200], Loss: 0.00
Epoch [200/200], Loss: 0.00

In [47]:
model.eval()
with torch.no_grad():
    y_pred = model(X_test)
    y_pred_class = (y_pred > 0.5).float()
    
accuracy = accuracy_score(y_test, y_pred_class)
cm = confusion_matrix(y_test, y_pred_class)

print(f"Accuracy: {accuracy:.4f}")
print("Confusion Matrix:\n", cm)

Accuracy: 0.9582
Confusion Matrix:
 [[298  15]
 [  5 161]]

In [48]:
model.eval()
with torch.no_grad():
    y_pred = model(X_test)
    y_pred_class = (y_pred > 0.5).float()  

y_test_np = y_test.numpy()
y_pred_np = y_pred_class.numpy()


import pandas as pd
df_compare = pd.DataFrame({
    'Actual': y_test_np.flatten(),
    'Predicted': y_pred_np.flatten()
})

df_compare.iloc[10:20]

    Actual  Predicted
10     0.0        0.0
11     0.0        0.0
12     0.0        0.0
13     0.0        0.0
14     1.0        1.0
15     1.0        1.0
16     0.0        0.0
17     1.0        1.0
18     0.0        0.0
19     1.0        1.0